* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* ============== Navbar Section =============== */
#Navbar {
    list-style: none;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 15px;
    padding-top: 20px;
    background-color: rgb(27, 27, 56);
    position: sticky;
    top: -8px
}
#navbar1 {
    width: 400px; 
    /* border:1px solid white; */
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#navbar2 {
    width: 310px;
    /* border:1px solid white; */
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#dropdown_manu {
    background-color: rgb(14, 10, 31);
    z-index: 1000;
}
#dropdown_manu li a:hover {
    background-color: transparent;
    color: red;
}
#navbar1 li a:hover {
    color: rgb(255, 0, 0);
}
#title a {
    color: aliceblue;
    font-size: 25px;
    text-decoration: none;
}
#navbartitle_btn {
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 800;
    background-color: transparent;
    color: aliceblue;
    border: none;
    outline: none;
}
#navbar_btn {
    background-color: transparent;
    color: aliceblue;
    border: none;
    outline: none;
    letter-spacing: 1px;
}
#navbar_btn:hover{
    color: red;
}
#product_btn{
    position: relative;
}
#dropdown_manu_btn{
    position: absolute;
    top:4px;
    right:-15px;
}
#login_user {
    color: aliceblue;
    cursor: pointer;
}
#Navbar li a {
    text-decoration: none;
    color: aliceblue;
    letter-spacing: 1px;
}
#responsive_icon_com_title{
    width: 130px;
    height: 38px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#resp_icon_com_title{
    width: 150px;
    height: 38px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#manubar_icon_box{
    width: 50px;
    height: 30px;
    position: relative;
    display: flex;
    align-items: center;
    display: none;
}
#manubar_icon_close {
    width: 40px;
    position: absolute;
    top:3px;
    color:aliceblue;
    display: none;
    cursor: pointer;
}
#manubar_icon_open {
    width: 50px;
    position: absolute;
    top:3px;
    color:aliceblue;
    display: none;
    cursor: pointer;
}
#secon_navbar{
    display: none;
    list-style: none;
    padding: 20px 20%;
    color: aliceblue;
    background-color:rgb(14, 10, 31);
}
#demo{
    margin: 0%;
    z-index: -1;
}
#secon_navbar li a{
    color: aliceblue;
}
#profile_box {
    width: 250px;
    height: 370px;
    border: 1px solid black;
    text-align: center;
    border-radius: 10px;
    position: absolute;
    right: 10px;
    top: 60px;
    display: none;
    background-color: rgb(11, 16, 45);
    z-index: 10;
}
#profile_box::before {
    content: "";
    width: 20px;
    height: 20px;
    display: block;
    background-color: rgb(11, 16, 45);
    /* border: 1px solid black; */
    transform: rotate(40deg);
    position: absolute;
    top: -10px;
    right: 18px;
}
#profile_box label {
    font-style: oblique;
    text-align: justify;
}
#user_account_info {
    width: 215px;
    height: auto;
    padding-top: 20px 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: start;
    margin-left: 20px;
    color: aliceblue;
}
#prof_image {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 1px solid black;
    margin-top: 30px;
    /* margin-left: 23%; */
}
#prof_image1 {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 1px solid black;
    margin-top: 30px;
}
#editpro_btn {
    padding: 3px 10px;
    background-color: transparent;
    /* background-color: rgb(74, 74, 139); */
    color: rgb(134, 134, 228);
    border: none;
    outline: none;
}
#usericon {
    width: 38px;
    border-radius: 50%;
    /* height: 20px; */
}
#addtocart_like_icon_nav{
    width: 150px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#like_heart_icon,#shopping_card_icon{
    font-size: 18px;
    background-color: transparent;
    border: none;
    outline: none;
    color: rgb(255, 254, 254);
}

#pro_like_addcart_wrapper{
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#addcart_icon_container,#liked_icon_container{
    position: relative;
}
#add_cart_value{
    width: 20px;
    height: 20px;
    border-radius: 50px;
    text-align: center;
    /* border: 0.5px solid brown; */
    background-color: rgba(198, 193, 193,0.2);
    color: rgb(229, 229, 251);
    font-weight: 700;
    position: absolute;
    top:-14px;
    left: 3px;


}
#add_liked_value{
    width: 20px;
    height: 20px;
    border-radius: 50px;
    text-align: center;
    /* border: 0.5px solid brown; */
    background-color: rgba(198, 193, 193,0.2);
    color: rgb(229, 229, 251);
    font-weight: 700;
    position: absolute;
    top:-14px;
}

@media(max-width: 992px){
    #title a{
        font-size: 16px;
    }
    #navbar1{
        width:300px;
    }
    #navbar1 li a{
        font-size: 12px;
    }
    #navbar2{
        width: 250px;
    }
    #navbar2 li a{
        font-size: 12px;
    }
    #navbar2 li{
        font-size: 12px; 
    }
}
@media(max-width: 768px){
    #Navbar{
        position: relative;
    }
    #manubar_icon_box{
        display: block;
    }
    #manubar_icon_close{
        display: block;
    }
    #navbar1{
        width: 100%;
        display: none;
        padding: 20px 6%;
        position: absolute;
        top: 69px;
        left: 0;
        background-color:rgb(27, 27, 56) ;
        border: none;
        margin: 0%;
        z-index: 40;
    }
    
}

/* ============ Registartion form ======== */

#registration_form {
    width: 400px;
    height: 550px;
    border: 1px solid black;
    padding: 15px 30px;
    margin: 25px 33%;
}
#form_type {
    text-align: center;
}
#submit_btn {
    padding: 3px 10px;
    border-radius: 10px;
    background-color: rgb(46, 46, 110);
    color: aliceblue;
}
#submit_box {
    text-align: center;
}

/* ============ Login form ======== */

#login_form {
    width: 400px;
    height: 380px;
    border: 1px solid black;
    padding: 5px 30px;
    margin: 120px 33%;
}
#userid_input {
    width: 100%;
    height: 35px;
    border-radius: 5px;
    outline: none;
    border: none;
}
#forgetpass_btn {
    background-color: transparent;
    border: none;
    outline: none;
    float: right;
}

/* ========== Footer ======== */

#Footer {
    text-align: center;
    color: aliceblue;
    padding: 15px 10px;
    background-color: rgb(54, 48, 48);
}
#links_box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 150px;
}
#footlink1 li a,
#footlink2 li a,
#footlink3 li a,
#footlink4 li a {
    color: aliceblue;
    text-decoration: none;
    margin-bottom: 15px;
}

/* =============== Dashboard page ============= */

#dashboard_Body {
    width: 100%;
    height: auto;
}
#todoform_box {
    width: 300px;
    height: 330px;
    border: 1px solid black;
    padding: 30px 20px;
}
#titlefield {
    width: 250px;
    height: 30px;
    border-radius: 10px;
    padding-left: 10px;
}
#taskfield {
    width: 250px;
    height: 100px;
    border-radius: 10px;
    padding-left: 10px;
}
#submitbtn {
    text-align: center;
    padding: 4px 15px;
    margin-left: auto;
}

/* ============================================= */

#showdata_container {
    width: 75%;
    height: auto;
    padding: 40px 10px;
}
#show_table {
    width: 100%;
    height: auto;
}
#datatable_head tr th {
    border: 1px solid black;
    height: 30px;
    text-align: center;
    background-color: rgb(25, 25, 25);
    color: aliceblue;
}
#datatable_body tr td {
    border: 1px solid black;
    height: auto;
    text-align: center;
    background-color: aquamarine;
    color: rgb(1, 7, 12);
}
#showdata_btn {
    width: 100%;
    height: 40px;
    padding: 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}
#showdata_btn #submitbtn {
    width: 100px;
    height: 40px;
    background-color: rgb(68, 64, 64);
    text-align: center;
    color: aliceblue;
}

/* ===================== contact us Page ===================== */

#contact_body {
    width: 100%;
    height: auto;
    background-color: rgb(10, 9, 9);
    padding: 50px 40px;
    display: flex;
    justify-content: space-around;
    padding: 80px 20%;
}
#contact_sect1 {
    width: 350px;
    height: 420px;
}
#contact_sect1_col {
    width: 230px;
    height: 80px;
    font-size: 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
#touch_us_text label {
    font-size: 14px;
    letter-spacing: 1px;
    color: orangered;
}
#touch_us_text span {
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1px;
    color: aliceblue;
}
#locat_icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid rgb(53, 51, 51);
    background-color: rgb(101, 93, 93);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: aliceblue;
}
#contac_sect1_cont {
    color: aliceblue;
}
#cont_text {
    width: 350px;
    height: 35px;
    background-color: transparent;
    padding-left: 15px;
    border: 1px solid rgb(95, 88, 88);
}
#cont_textarea {
    width: 350px;
    height: 100px;
    background-color: transparent;
    padding-left: 15px;
}
#cont_submit_btn {
    width: 350px;
    height: 35px;
    background-color: orangered;
    color: aliceblue;
    font-weight: bold;
    letter-spacing: 1px;
}

/* ================ forget form page ================== */

#forgetform_body {
    display: flex;
    justify-content: center;
    padding: 50px 3px;
}
#forgetform_container {
    width: 500px;
    height: auto;
    padding: 20px 15px;
    background-color: rgb(233, 224, 224);
}
#email {
    height: 60px;
}

/* ========================== Index Page =============================== */

#carousel_img_box img{
  width: 100%;
  height: 500px;
}
#right_arrow,#left_arrow{
    font-size: 50px;
    font-weight: bolder;
    color: rgb(10, 10, 25);
}











