* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* ============== Navbar Section =============== */

#Navbar {
    list-style: none;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 15px;
    padding-top: 20px;
    background-color: rgb(27, 27, 56);
    z-index: 110;
    position: sticky;
    top: -10px
}
#navbar1 {
    width: 400px;
    /* border:1px solid white; */
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#navbar2 {
    width: 310px;
    /* border:1px solid white; */
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#dropdown_manu {
    background-color: rgb(14, 10, 31);
    z-index: 100;
}
#dropdown_manu li a:hover {
    background-color: transparent;
    color: red;
}
#navbar1 li a:hover {
    color: rgb(255, 0, 0);
}
#title a {
    color: aliceblue;
    font-size: 25px;
    text-decoration: none;
}
#navbartitle_btn {
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 800;
    background-color: transparent;
    color: aliceblue;
    border: none;
    outline: none;
}
#navbar_btn {
    background-color: transparent;
    color: aliceblue;
    border: none;
    outline: none;
    letter-spacing: 1px;
}
#navbar_btn:hover {
    color: red;
}
#product_btn {
    position: relative;
}
#dropdown_manu_btn {
    position: absolute;
    top: 4px;
    right: -15px;
}
#login_user {
    color: aliceblue;
    cursor: pointer;
}
#Navbar li a {
    text-decoration: none;
    color: aliceblue;
    letter-spacing: 1px;
}
#responsive_icon_com_title {
    width: 130px;
    height: 38px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#resp_icon_com_title {
    width: 150px;
    height: 38px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#manubar_icon_box {
    width: 50px;
    height: 30px;
    position: relative;
    display: flex;
    align-items: center;
    display: none;
}
#manubar_icon_close {
    width: 40px;
    position: absolute;
    top: 3px;
    color: aliceblue;
    display: none;
    cursor: pointer;
}
#manubar_icon_open {
    width: 50px;
    position: absolute;
    top: 3px;
    color: aliceblue;
    display: none;
    cursor: pointer;
}
#secon_navbar {
    display: none;
    list-style: none;
    padding: 20px 20%;
    color: aliceblue;
    background-color: rgb(14, 10, 31);
}
#demo {
    z-index: -1;
}
#secon_navbar li a {
    color: aliceblue;
}
#profile_box {
    width: 250px;
    height: 370px;
    border: 1px solid black;
    text-align: center;
    border-radius: 10px;
    position: absolute;
    right: 10px;
    top: 60px;
    display: none;
    background-color: rgb(11, 16, 45);
    z-index: 110;
}
#profile_box::before {
    content: "";
    width: 20px;
    height: 20px;
    display: block;
    background-color: rgb(11, 16, 45);
    /* border: 1px solid black; */
    transform: rotate(40deg);
    position: absolute;
    top: -10px;
    right: 18px;
}
#profile_box label {
    font-style: oblique;
    text-align: justify;
}
#user_account_info {
    width: 215px;
    height: auto;
    padding-top: 20px 5px;
    margin-top: 20px;
    /* margin-bottom: 20px; */
    text-align: start;
    margin-left: 20px;
    color: aliceblue;
}
#prof_image {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 1px solid black;
    margin-top: 30px;
    /* margin-left: 23%; */
}
#prof_image1 {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 1px solid black;
    margin-top: 30px;
}
#editpro_btn {
    padding: 3px 10px;
    background-color: transparent;
    /* background-color: rgb(74, 74, 139); */
    color: rgb(134, 134, 228);
    border: none;
    outline: none;
}
#usericon {
    width: 38px;
    border-radius: 50%;
}
#addtocart_like_icon_nav {
    width: 150px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#like_heart_icon,
#shopping_card_icon {
    font-size: 18px;
    background-color: transparent;
    border: none;
    outline: none;
    color: rgb(255, 254, 254);
}
#pro_like_addcart_wrapper {
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#addcart_icon_container,
#liked_icon_container {
    position: relative;
}
#add_cart_value {
    width: 20px;
    height: 20px;
    border-radius: 50px;
    text-align: center;
    /* border: 0.5px solid brown; */
    background-color: rgba(198, 193, 193, 0.2);
    color: rgb(229, 229, 251);
    font-weight: 700;
    position: absolute;
    top: -14px;
    left: 3px;
}
#add_liked_value {
    width: 20px;
    height: 20px;
    border-radius: 50px;
    text-align: center;
    /* border: 0.5px solid brown; */
    background-color: rgba(198, 193, 193, 0.2);
    color: rgb(229, 229, 251);
    font-weight: 700;
    position: absolute;
    top: -14px;
}

/* =============== admin Dashboard ========================= */

#Admin_deskname {
    color: aliceblue;
    letter-spacing: 1.5px;
    font-weight: bolder;
    font-size: 16px;
}
#admin_profile_Icon {
    width: 50px;
}
#admin_manubar_icon_box {
    width: 50px;
    height: 30px;
    position: relative;
    display: flex;
    align-items: center;
    /* display: none; */
}
#admin_manubar_icon_close {
    width: 40px;
    position: absolute;
    top: 3px;
    color: aliceblue;
    /* color: blueviolet; */
    /* display: none; */
    cursor: pointer;
}
#admin_manubar_icon_open {
    width: 50px;
    position: absolute;
    top: 3px;
    color: aliceblue;
    display: none;
    cursor: pointer;
}

/* ==================== admin navbar - 2 =================== */

#Admin_Dropdown_navbar {
    width: 100%;
    height: 60px;
    list-style: none;
    z-index: 100;
    position: sticky;
    top: -10px;
    display: none;
    justify-content: space-around;
    align-items: center;
    background-color: #474646;
}
#Admin_Dropdown_navbar li a {
    letter-spacing: 1.2px;
    color: aliceblue;
    font-size: 16px;
    font-weight: 700;
}
@media(max-width: 992px) {
    #title a {
        font-size: 16px;
    }
    #navbar1 {
        width: 300px;
    }
    #navbar1 li a {
        font-size: 12px;
    }
    #navbar2 {
        width: 250px;
    }
    #navbar2 li a {
        font-size: 12px;
    }
    #navbar2 li {
        font-size: 12px;
    }
}


@media(max-width: 768px) {
    #Navbar {
        position: relative;
        position: sticky;
        top: -10px
    }
    #manubar_icon_box {
        display: block;
    }
    #manubar_icon_close {
        display: block;
    }
    #navbar1 {
        width: 100%;
        display: none;
        padding: 20px 6%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: rgb(27, 27, 56);
        border: none;
        z-index: 40;
    }
    #Admin_Todoform {
        display: block;
        justify-content: center;
    }
}

@media(max-width:576px) {
    #resp_icon_com_title {
        width: 120px;
    }

    #navbartitle_btn {
        font-size: 12px;
    }

    #Admin_deskname {
        font-size: 12px;
        font-weight: 500;
    }
    #Admin_Dropdown_navbar li a{
        font-size: 12px;
    }
    #navbartitle_btn{
        font-size: 14px;
        font-weight: 700;
    }
}

/* ============ Registartion form ======== */

#Register_body {
    width: 100%;
    height: auto;
    padding: 40px 50px;
    background-image: url('../image/register_background2.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#registration_form {
    width: 400px;
    height: 550px;
    border: 1px solid rgb(117, 116, 116);
    box-shadow: 3px 3px 30px rgb(32, 32, 32);
    border-radius: 25px;
    padding: 10px 30px;
    margin: 25px 35%;
    background-color: rgba(46, 45, 45, 0.2);
    color: rgb(16, 16, 17);
}
#form_type {
    text-align: center;
    font-weight: bold;
}
#submit_btn {
    padding: 3px 35px;
    border-radius: 10px;
    background-color: rgb(46, 46, 110);
    color: aliceblue;
}
#submit_box {
    /* width: 150px; */
    text-align: center;
}
#exampleFormControlInput1,
#inputPassword5 {
    background-color: transparent;
    color: rgb(249, 246, 246);
    letter-spacing: 2px;
}
#exampleFormControlInput1:hover,
#inputPassword5:hover {
    background-color: white;
    color: rgb(4, 4, 4);
}
#regist_loginbtn {
    color: rgb(33, 33, 138);
}

/* ============ Login form ======== */

#login_body {
    width: 100%;
    height: auto;
    padding: 40px 60px;
    background-image: url('../image/register_background2.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#logintype {
    background-color: transparent;
    height: 30px;
    color: rgb(8, 8, 8);
    border: none;
}
#sel_typenone {
    color: black;
}
#login_form {
    width: 400px;
    height: 380px;
    border: 1px solid rgb(97, 96, 96);
    padding: 5px 30px;
    margin: 120px 33%;
    color: #0d0d0d;
    border-radius: 20px;
    /* box-shadow: 2px 2px 10px rgb(17, 16, 16); */
}
#login_form:hover {
    box-shadow: 2px 2px 10px rgb(17, 16, 16);
}
#userid_input {
    width: 100%;
    height: 35px;
    border-radius: 5px;
    outline: none;
    border: none;
}
#forgetpass_btn {
    background-color: transparent;
    border: none;
    outline: none;
    float: right;
}


/* ========== Footer ======== */

#Footer {
    text-align: center;
    color: aliceblue;
    padding: 15px 10px;
    background-color: rgb(39, 36, 36);
}
#links_box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 150px;
}
#footlink1 li a,
#footlink2 li a,
#footlink3 li a,
#footlink4 li a {
    color: aliceblue;
    text-decoration: none;
    margin-bottom: 15px;
}

/* =============== Dashboard page ============= */

#dashboard_Body {
    width: 100%;
    height: auto;
    margin-top: -10px;
}
#Admin_Todoform {
    width: 100%;
    height: 600px;
    padding: 10px 20px;
    background-image: url('../image/register_background2.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
#todoform_box {
    width: 410px;
    height: 330px;
    border: 1px solid black;
    box-shadow: 1px 1px 10px black;
    padding: 20px 20px;
}
#titlefield {
    width: 330px;
    height: 30px;
    border-radius: 10px;
    padding-left: 10px;
    background-color: transparent;
    letter-spacing: 1.5px;
}
#taskfield {
    width: 90%;
    height: 100px;
    border-radius: 10px;
    padding-left: 10px;
    background-color: transparent;
    letter-spacing: 1.5px;
}
#titlefield:hover,
#taskfield:hover {
    background-color: #ffffff;
}
#submitbtn {
    text-align: center;
    padding: 4px 15px;
    margin-left: auto;
}

/* ============================================= */

#showdata_container {
    width: 100%;
    height: auto;
    padding: 40px 10px;
    background-color: rgb(162, 226, 244);
}
#show_table {
    width: 100%;
    height: auto;
}
#datatable_head tr th {
    border: 1px solid black;
    height: 30px;
    text-align: center;
    background-color: rgb(25, 25, 25);
    color: aliceblue;
}
#datatable_body tr td {
    border: 1px solid black;
    height: auto;
    text-align: center;
    background-color: aquamarine;
    color: rgb(1, 7, 12);
}
#showdata_btn {
    width: 100%;
    height: 40px;
    padding: 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}
#showdata_btn #submitbtn {
    width: 100px;
    height: 40px;
    background-color: rgb(68, 64, 64);
    text-align: center;
    color: aliceblue;
}

/* ===================== contact us Page ===================== */

#contact_body {
    width: 100%;
    height: auto;
    background-color: rgb(10, 9, 9);
    padding: 50px 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 80px 20%;
}
#contact_sect1 {
    width: 350px;
    height: 420px;
}
#contact_sect1_col {
    width: 230px;
    height: 80px;
    font-size: 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
#touch_us_text label {
    font-size: 14px;
    letter-spacing: 1px;
    color: orangered;
}
#touch_us_text span {
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1px;
    color: aliceblue;
}
#locat_icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid rgb(53, 51, 51);
    background-color: rgb(101, 93, 93);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: aliceblue;
}
#contac_sect1_cont {
    color: aliceblue;
}
#cont_text {
    width: 350px;
    height: 35px;
    background-color: transparent;
    padding-left: 15px;
    border: 1px solid rgb(95, 88, 88);
}
#cont_textarea {
    width: 350px;
    height: 100px;
    background-color: transparent;
    padding-left: 15px;
}
#cont_submit_btn {
    width: 350px;
    height: 35px;
    background-color: orangered;
    color: aliceblue;
    font-weight: bold;
    letter-spacing: 1px;
}

/* ================ forget form page ================== */

#forgetform_body {
    display: flex;
    justify-content: center;
    padding: 50px 3px;
}
#forgetform_container {
    width: 500px;
    height: auto;
    padding: 20px 15px;
    background-color: rgb(233, 224, 224);
}
#email {
    height: 60px;
}

/* ========================== Index Page =============================== */

#carousel_img_box img {
    width: 100%;
    height: 300px;
}
#right_arrow,
#left_arrow {
    font-size: 50px;
    font-weight: bolder;
    color: rgb(10, 10, 25);
}


/* ============ index section-2 =============== */

#product-group-collection-container {
    width: 100%;
    height: 500px;
    /* border:1px solid black; */
    background-color: #ffffff;
    overflow-x: auto;
    margin-top: 60px;
    margin-bottom: 70px;
}
#product-group-collection-container::-webkit-scrollbar {
    display: none;
}
#product-group-collection-slider {
    width: 1800px;
    height: 490px;
    /* border:1px solid rgb(11, 238, 60); */
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#product-group-collection-box {
    width: 335px;
    height: 440px;
    background-color: #ffffff;
    padding-top: 10px;
    border: 1px solid #282727;
    text-align: center;
}
#product-group-collection-box:hover {
    scale: 1.03;
    z-index: 1;
}
#product-group-collection-flex-box {
    display: flex;
    flex-wrap: wrap;
}
#product-group-collection-title {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 20px;
    font-weight: bold;
}
#product-group-collection-div1-a {
    text-decoration: none;
    text-transform: capitalize;
}
#product-group-collection-div1 {
    width: 150px;
    height: 150px;
    /* border:1px solid rgb(107, 28, 233); */
    margin: 8px;
    text-align: left;
}
.product-group-collection-div1-img {
    width: 130px;
    height: 100px;
    /* border:1px solid rgb(181, 250, 54); */
    margin: auto;
}
#product-group-collection-name {
    color: #334142;
    margin-left: 10px;
    font-size: 16px;
}

/* =================  #product-group-collection-1 ========================  */

#product-group-collection-div1-img1 {
    background-image: url('../image/women\'s\ wear.jpg');
    background-size: 100% 100px;
    background-position: center;
    background-repeat: no-repeat;
}
#product-group-collection-div1-img2 {
    background-image: url('../image/mens\ wear.jpg');
    background-size: 100% 100px;
    background-position: center;
    background-repeat: no-repeat;
}
#product-group-collection-div1-img3 {
    background-image: url('../image/kid\'s\ wear.jpg');
    background-size: 90% 100px;
    background-position: center;
    background-repeat: no-repeat;
}
#product-group-collection-div1-img4 {
    background-image: url('../image/handbags\,\ clutches.jpg');
    background-size: 100% 100px;
    background-position: center;
    background-repeat: no-repeat;
}

/* ========== collection-2 ========= */

#product-group-collection-div2-img1 {
    background-image: url('../image/sports\ shoes.jfif');
    background-size: 100% 100px;
    background-position: center;
    background-repeat: no-repeat;
}
#product-group-collection-div2-img2 {
    background-image: url('../image/men\'s\ shoes.jpg');
    background-size: 100% 100px;
    background-position: center;
    background-repeat: no-repeat;
}
#product-group-collection-div2-img3 {
    background-image: url('../image/Women\'s\ shoes.jpg');
    background-size: 90% 100px;
    background-position: center;
    background-repeat: no-repeat;
}
#product-group-collection-div2-img4 {
    background-image: url('../image/kid\'s\ shoes.jpg');
    background-size: 100% 100px;
    background-position: center;
    background-repeat: no-repeat;
}

/* ========== collection-3 ========= */

#product-group-collection-div3-img1 {
    background-image: url('../image/beauty2.jpg');
    background-size: 100% 100px;
    background-position: center;
    background-repeat: no-repeat;
}
#product-group-collection-div3-img2 {
    background-image: url('../image/Lotus.jpg');
    background-size: 100% 100px;
    background-position: center;
    background-repeat: no-repeat;
}

#product-group-collection-div3-img3 {
    background-image: url('../image/beauty17.jpg');
    background-size: 100% 100px;
    background-position: center;
    background-repeat: no-repeat;
}

#product-group-collection-div3-img4 {
    background-image: url('../image/beauty15.jpg');
    background-size: 100% 100px;
    background-position: center;
    background-repeat: no-repeat;
}

/* ========== collection-4 ========= */

#product-group-collection-div4-img1 {
    background-image: url('../image/fashionjeweller1.png');
    background-size: 100% 100px;
    background-position: center;
    background-repeat: no-repeat;
}

#product-group-collection-div4-img2 {
    background-image: url('../image/fashionjeweller2.jpg');
    background-size: 100% 100px;
    background-position: center;
    background-repeat: no-repeat;
}

#product-group-collection-div4-img3 {
    background-image: url('../image/fashionjeweller3.jpg');
    background-size: 100% 100px;
    background-position: center;
    background-repeat: no-repeat;
}

#product-group-collection-div4-img4 {
    background-image: url('../image/sunglass2.avif');
    background-size: 100% 100px;
    background-position: center;
    background-repeat: no-repeat;
}

/* ======================== beauty product section -3 ================== */
#product-section3-cantainer {
    width: 98%;
    height: 350px;
    background-color: #ffffff;
    margin-left: 1%;
    /* border:1px solid red; */
    padding-top: 20px;
    margin-bottom: 70px;
}

#product-section3-title {
    margin-left: 15px;
    font-size: 25px;
}

#product-section3-title a {
    text-decoration: none;
    font-size: 20px;
}

#product-section3-box {
    overflow-x: auto;
}

#product-section3-box::-webkit-scrollbar {
    display: none;
}

#product-section3-slider {
    width: 4600px;
    height: 250px;
    /* border:1px solid rgb(37, 34, 34); */
    margin-top: 35px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

#product-section3-img {
    margin: 40px 45px;
    /* width:80px; */
    height: 130px;
    /* z-index: -1; */
}

#product-section3-img:hover {
    scale: 1.4;
}

@media(max-width: 992px) {
    #product-section3-title {
        font-size: 20px;
    }

    #product-section3-title a {
        text-decoration: none;
        font-size: 16px;
    }
}

@media(max-width: 768px) {}

/* ====================== watch section - 4 ===================== */

#product-section4-slider {
    width: 3500px;
    height: 250px;
    /* border:1px solid rgb(37, 34, 34); */
    margin-top: 35px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

/* ======================== Jewellery section - 5 =================== */
#product-section5-slider {
    width: 2350px;
    height: 250px;
    /* border:1px solid rgb(37, 34, 34); */
    margin-top: 35px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}


#product_section5_image_container {
    width: 180px;
    height: 183px;
    overflow: hidden;
    /* border: 1px solid rgb(13, 247, 37); */
    /* position: relative; */

}

#product-section5-image-wrapper {
    width: 380px;
    height: 182px;
    display: flex;
    justify-content: center;
    /* border: 1px solid red; */
    align-items: center;
    /* position: relative; */
}

#product-section5-image-wrapper:hover {
    /* display: none; */
    animation: jewanimation 3s;
}

#product-section4-img1,
#product-section4-img2 {
    width: 180px;
    height: 180px;
}

/* 
@keyframes jewanimation{
    0%{
        margin-left: 0px;
    }
    20%{ 
        margin-left:- 182px; 
    }
    40%{ 
        margin-left:- 182px; 
    }
    60%{
        margin-left: -364px;
    }
    80%{
        margin-left: -364px;
    }
    100%{
        margin-left: 0px;
    }
    
} */
@keyframes jewanimation {
    from {
        #product-section4-img1 {
            display: block;
        }
    }

    to {
        #product-section4-img1 {
            display: none;
        }
    }

}

/* ==================== About page ========================= */

#about_container {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 30px 20px;
    background-color: rgb(14, 14, 14);
}

#about_image {
    width: 100%;
    height: 510px;
}

#body_building,
#trainingg,
#fitness {
    width: 300px;
}

#video_ads {
    width: 54%;
    height: 510px;
    border: 1px solid rgb(251, 251, 251);
}

#about_score {
    width: 54%;
    height: auto;
    border: 0.5px solid rgb(249, 247, 247);
    padding: 35px 10px;
    text-align: center;
    /* display: flex; */
    /* justify-content: center; */
    /* flex-wrap: wrap; */
}

#about_one {
    color: orangered;
}

#Readme_morebtn {
    padding: 3px 35px;
    background-color: transparent;
    border: none;
}

#Readme_morebtn a {
    font-size: 16px;
    color: orangered;
}

#about_two {
    font-size: 30px;
    font-weight: bolder;
    letter-spacing: 1px;
    color: aliceblue;
    margin-top: 15px;
}

#about_three {
    font-size: 14px;
    /* font-weight: bold; */
    letter-spacing: 1px;
    color: aliceblue;
    margin-top: 30px;
}

#about_tab {
    width: 200px;
    color: aliceblue;
}

#about_tablebx {
    margin-top: 30px;
}

#about_tablebx tr td {
    height: 30px;
}