{% extends 'base.html' %}
{% load static %}
{% block content%}
<div id="about_container">
    <div id="video_ads">
        <img src="{% static '/image/about1.jpg' %}" alt="" id="about_image">
    </div>
    <div id="about_score">
        <label id="about_one">ABOUT US</label><br />
        <label id="about_two">WHAT WE HAVE DONE</label><br />
        <label id="about_three">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas
            accumsan lacus vel facilisis. aliquip ex ea commodo consequat sit amet,
            consectetur adipiscing elit, sed do eiusmod tempor.
        </label>
        
      
        
        <button id="Readme_morebtn"><a href="#">Read More</a></button>
    </div>
</div>


{% endblock %}