{% extends 'base.html' %}
{% block content%}

{% if prod_data %}
<section id="addcartpage_body">
    <div id="addproduct_container">
        {% for i in prod_data %}
        <div id="addcartpage_container">
            <div id="addcart_imagediv">
                <img src="{{media_url}}{{i.pro_value.Prod_Image1}}" alt="">
            </div>
            <div id="addcartprod_detail">
                <label> Price&nbsp;&nbsp;&nbsp;₹&nbsp;&nbsp;{{i.pro_value.Prod_Price}}</label><br />
                <label>Offer &nbsp;&nbsp;&nbsp; {{i.pro_value.Prod_Offer}}</label><br />
                <label> MRP &nbsp;&nbsp;&nbsp;₹{{i.pro_value.Prod_MRP}}</label><br />
                <div id="quantity_adding">
                    <form action="{% url 'increment' %}" method="post">
                        {% csrf_token %}
                        <input type="number" name="incr" value="{{i.pro_value.id}}" id="" hidden>
                        <input type="submit" value="+" id="incrementbtn">
                    </form>
                    <div id="increase_value">
                        {{i.Quantity | default:'1'}}
                    </div>
                    <form action="{% url 'decrement' %}" method="post">
                        {% csrf_token %}
                        <input type="number" name="decr" value="{{i.pro_value.id}}" id="" hidden>
                        <input type="submit" value="-" id="incrementbtn">
                    </form>

                </div>
            </div>
            <div id="addcart_price">
                <div id="ProdDetail_box">
                    {{i.pro_value.Prod_Detail}}
                </div>
                <div id="paymentbuy_btn">
                    {% if buyproduct %}
                    <form id="payment-form" action="{% url 'buyproduct_payment' %}" method="post">
                        {% csrf_token %}
                        <input type="number" name="pid" value="{{i.pro_value.id}}" hidden>
                        <button type="submit" id="rzp-button1">Pay with Razorpay</button>
                    </form>
                    {% else %}
                    <form action="{% url 'buyproduct'%}" method="post">
                        {% csrf_token %}
                        <input type="email" name="email" value="{{user_name.Email}}" id="" hidden>
                        <input type="number" name="amount" value="{{i.pro_value.Prod_Price}}" hidden>
                        <input type="number" name="pid" value="{{i.pro_value.id}}" hidden>
                        <input type="submit" value="Buy" id="Buy_btn">
                    </form>
                    {% endif %}  
                </div>
            </div>
            <div id="addcart_deletebtn">
                <a href="{% url 'removeadd_cart' pk=i.pro_value.id %}">
                    <i class="fa-solid fa-trash"></i>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="col-xl-4">
        <div class="mt-5 mt-lg-0">
            <div class="card border shadow-none">
                <div class="card-header bg-transparent border-bottom py-3 px-4">
                    <h5 class="font-size-16 mb-0">Order Summary <span class="float-end">#MN0124</span></h5>
                </div>
                <div class="card-body p-4 pt-2">

                    <div class="table-responsive">
                        <table class="table mb-0">
                            <tbody>
                                <tr>
                                    <td>Sub Total :</td>
                                    <td class="text-end">₹&nbsp;{{amount.total_amount}}</td>
                                </tr>
                                <tr>
                                    <td>Discount : </td>
                                    <td class="text-end">₹&nbsp;{{amount.discount}}</td>
                                </tr>
                                <tr>
                                    <td>Product Quantity : </td>
                                    <td class="text-end">{{amount.Quantity | default:'0'}}&nbsp;&nbsp;Items</td>
                                </tr>
                                <tr>
                                    <td>Shipping Charge :</td>
                                    <td class="text-end">₹&nbsp;{{amount.shippingcharge}}</td>
                                </tr>
                                <tr>
                                    <td>Estimated Tax : </td>
                                    <td class="text-end"> ₹&nbsp;{{amount.tax}}</td>
                                </tr>
                                <tr class="bg-light">
                                    <th>Total :</th>
                                    <td class="text-end">
                                        <span class="fw-bold">
                                            ₹&nbsp;{{amount.Total_pay_amount}}
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        {% if makepay %}
                                        <form id="payment-form" action="{% url 'making_payment' %}" method="post">
                                            {% csrf_token %}
                                            <input type="email" name="email" value="{{ user_name.Email }}" id="" hidden>
                                            <button type="submit" id="rzp-button1">Pay with Razorpay</button>
                                        </form>

                                        <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
                                        <script>
                                            var options = {
                                                "key": "rzp_test_8jTLUV3aVex82Q",
                                                "amount": "{{ payment.amount }}",
                                                "currency": "INR",
                                                "name": "indrayadu36@gmail.com",
                                                "description": "Test Transaction",
                                                "image": "https://cdn.freebiesupply.com/logos/large/2x/trigenix-logo-png-transparent.png",
                                                "order_id": "{{ payment.id }}",
                                                "callback_url": "http://127.0.0.1:8000/making_payment/",
                                                "theme": {
                                                    "color": "#3399cc"
                                                },
                                                "handler": function (response) {
                                                    // Handle the payment success response
                                                    var paymentForm = document.getElementById('payment-form');
                                                    var input = document.createElement('input');
                                                    input.type = 'hidden';
                                                    input.name = 'razorpay_payment_id';
                                                    input.value = response.razorpay_payment_id;
                                                    paymentForm.appendChild(input);
                                                    input = document.createElement('input');
                                                    input.type = 'hidden';
                                                    input.name = 'razorpay_order_id';
                                                    input.value = response.razorpay_order_id;
                                                    paymentForm.appendChild(input);
                                                    input = document.createElement('input');
                                                    input.type = 'hidden';
                                                    input.name = 'razorpay_signature';
                                                    input.value = response.razorpay_signature;
                                                    paymentForm.appendChild(input);
                                                    // Submit the form
                                                    paymentForm.submit();
                                                }
                                            };
                                            var rzp1 = new Razorpay(options);
                                            document.getElementById('rzp-button1').onclick = function (e) {
                                                rzp1.open();
                                                e.preventDefault();
                                            }
                                        </script>


                                        {% else %}
                                        <form action="{% url 'checkout'%}" method="post">
                                            {% csrf_token %}
                                            <input type="email" name="email" value="{{user_name.Email}}" id="" hidden>
                                            <input type="number" name="amount" value="{{amount.Total_pay_amount}}"
                                                hidden>
                                            <input type="submit" value="Checkout" id="Checkoutbtn">
                                        </form>
                                        {% endif %}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- end table-responsive -->
                </div>
            </div>
        </div>
    </div>
</section>





{% else %}
<section id="addcartpageelse_body">
    <img src="https://mir-s3-cdn-cf.behance.net/projects/404/95974e121862329.Y3JvcCw5MjIsNzIxLDAsMTM5.png" alt="">
</section>
{% endif %}
{% endblock %}