{% extends 'base.html' %}

{% block content%}
{% if payment %}
<div>
    <form action="{% url 'making_payment'%}" method="post">
        {% csrf_token %}

        <button id="rzp-button1">
            <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
            <script>
            var options = {
                "key": "n3PL7ZbSgnKSWJeA1s9ndhaO",
                "amount": "{{payment.amount}}",
                "currency": "INR",
                "name": "{{user_name.Email}}",
                "description": "Test Transaction",
                "image": "https://cdn.freebiesupply.com/logos/large/2x/trigenix-logo-png-transparent.png",
                "order_id": "{{payment.id}}", //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
                "callback_url": "https://eneqd3r9zrjok.x.pipedream.net/",
                "prefill": {
                    "name": "Indrajeet yadave",
                    "email": "indrajeetyadu36@gmail.com",
                    "contact": "9754550030"
                },
                "notes": {
                    "address": "{{payment.notes}}"
                },
                "theme": {
                    "color": "#3399cc"
                }
            };
            var rzp1 = new Razorpay(options);
            document.getElementById('rzp-button1').onclick = function (e) {
                rzp1.open();
                e.preventDefault();
            }
            </script>
            <input type="email" name="email" value="" id="" hidden>
            <input type="submit" value="Pay with Razorpay"></button>
    </form>
</div>
{% else %}
{% if prod_data %}
<section id="addcartpage_body">
    <div id="addproduct_container">
        {% for i in prod_data %}
        <div id="addcartpage_container">
            <div id="addcart_imagediv">
                <img src="{{media_url}}{{i.pro_value.Prod_Image1}}" alt="">
            </div>
            <div id="addcartprod_detail">
                <label> Price&nbsp;&nbsp;&nbsp;₹&nbsp;&nbsp;{{i.pro_value.Prod_Price}}</label><br />
                <label>Offer &nbsp;&nbsp;&nbsp; {{i.pro_value.Prod_Offer}}</label><br />
                <label> MRP &nbsp;&nbsp;&nbsp;₹{{i.pro_value.Prod_MRP}}</label><br />
                <div id="quantity_adding">
                    <form action="" method="post">
                        {% csrf_token %}
                        <input type="number" name="" value="i.pro_value.id" id="" hidden>
                        <input type="submit" value="+" id="incrementbtn">
                    </form>
                    <div id="increase_value">
                        {{i.Quantity | default:'0'}}
                    </div>
                    <form action="" method="post">
                        {% csrf_token %}
                        <input type="number" name="" value="i.pro_value.id" id="" hidden>
                        <input type="submit" value="-" id="incrementbtn">
                    </form>
                </div>
            </div>
            <div id="addcart_price">
                <div id="ProdDetail_box">
                    {{i.pro_value.Prod_Detail}}
                </div>
                <div id="paymentbuy_btn">
                    {% csrf_token %}
                    <form action="" method="post">
                        <input type="submit" value="Buy" id="Buy_btn" />
                    </form>
                </div>
            </div>
            <div id="addcart_deletebtn"><i class="fa-solid fa-trash"></i></div>
        </div>
        {% endfor %}
    </div>

    <div class="col-xl-4">
        <div class="mt-5 mt-lg-0">
            <div class="card border shadow-none">
                <div class="card-header bg-transparent border-bottom py-3 px-4">
                    <h5 class="font-size-16 mb-0">Order Summary <span class="float-end">#MN0124</span></h5>
                </div>
                <div class="card-body p-4 pt-2">

                    <div class="table-responsive">
                        <table class="table mb-0">
                            <tbody>
                                <tr>
                                    <td>Sub Total :</td>
                                    <td class="text-end">₹&nbsp;{{amount.total_amount}}</td>
                                </tr>
                                <tr>
                                    <td>Discount : </td>
                                    <td class="text-end">₹&nbsp;{{amount.discount}}</td>
                                </tr>
                                <tr>
                                    <td>Shipping Charge :</td>
                                    <td class="text-end">₹&nbsp;{{amount.shippingcharge}}</td>
                                </tr>
                                <tr>
                                    <td>Estimated Tax : </td>
                                    <td class="text-end"> ₹&nbsp;{{amount.tax}}</td>
                                </tr>
                                <tr class="bg-light">
                                    <th>Total :</th>
                                    <td class="text-end">
                                        <span class="fw-bold">
                                            ₹&nbsp;{{amount.Total_pay_amount}}
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td><button id="Checkoutbtn"><a href="#">Checkout</a></button></td>
                                    <td>
                                        <form action="{% url 'checkout'%}" method="post">
                                            {% csrf_token %}
                                            <input type="email" name="email" value="{{user_name.Email}}" id="" hidden>
                                            <input type="number" name="amount" value="{{amount.Total_pay_amount}}"
                                                hidden>
                                            <input type="submit" value="Checkout" id="Checkoutbtn">
                                        </form>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- end table-responsive -->
                </div>
            </div>
        </div>
    </div>
</section>
{% else %}
<section id="addcartpageelse_body">
    <img src="https://mir-s3-cdn-cf.behance.net/projects/404/95974e121862329.Y3JvcCw5MjIsNzIxLDAsMTM5.png" alt="">
</section>
{% endif %}
{% endif %}
{% endblock %}