{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <link rel="stylesheet" href="{% static '/css/registration.css' %}">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- add to cart page bootstrap link =========== -->
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.css"
        integrity="sha256-NAxhqDvtY0l4xn+YVa6WjAcmd94NNfttjNsDmNatFVc=" crossorigin="anonymous" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <script src="{% static '/javascript/javascript.js' %}"></script>
</head>

<body>
    {% if user_name %}
    <div id="Navbar" class="navbar-inverse">
        <div id="responsive_icon_com_title">
            <div id="manubar_icon_box">
                <div id="manubar_icon_close" onclick="submanu_box(1)">
                    <i class="fa-solid fa-bars"></i>
                </div>
                <div id="manubar_icon_open" onclick="submanu_box(1)">
                    <i class="fa-solid fa-bars-staggered"></i>
                </div>
            </div>
            <div id="title"><a href="{% url 'index'%}">TRENDGENIX</a></div>
        </div>
        <ul id="navbar1">
            <li><a href="{% url 'index'%}">Home</a></li>
            <li><a href="{% url 'about'%}">About Us</a></li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="{% url 'product'%}" role="button"
                    data-bs-toggle="dropdown">Product</a>
                <ul class="dropdown-menu" id="dropdown_manu">
                    <li><a href="{% url 'men'%}">Men</a></li>
                    <li><a href="{% url 'women'%}">Women</a></li>
                    <li><a href="{% url 'girl'%}">Kids</a></li>
                </ul>
            </li>
            <li><a href="{% url 'contact'%}">Contact Us</a></li>
        </ul>
        <ul id="userdashnavbar2">
            <li id="liked_icon_container">
                <div id="add_liked_value">{{addcartno | default:'0'}}</div>
                <a href="{% url 'login'%}"><i class="fa-regular fa-heart"></i></a>
            </li>
            <li id="addcart_icon_container">
                <div id="add_cart_value">{{addcartno | default:'0'}}</div>
                <a href="{% url 'cartpage'%}">
                    <i class="fa-solid fa-cart-shopping"></i>
                </a>
            </li>
            <li id="login_user" onclick="pro_info(1)">
                {% if user_name.Profile %}
                <img src="{{media_url}}{{user_name.Profile}}" alt="" id="usericon_img" />
                {% else %}
                <img id="usericon"
                    src="https://static.vecteezy.com/system/resources/thumbnails/004/607/791/small_2x/man-face-emotive-icon-smiling-male-character-in-blue-shirt-flat-illustration-isolated-on-white-happy-human-psychological-portrait-positive-emotions-user-avatar-for-app-web-design-vector.jpg"
                    alt="" />
                {% endif %}
            </li>
        </ul>
    </div>

    <div id="profile_box">
        {% if user_name.Profile %}
        <img src="{{media_url}}{{user_name.Profile}}" alt="" id="prof_image" />
        {% else %}
        <img src="https://ps.w.org/user-avatar-reloaded/assets/icon-256x256.png?rev=2540745" alt="" id="prof_image" />
        {% endif %}<br />
        <form action="{% url 'editpro' %}" method="post">
            {% csrf_token %}
            <input type="text" name="accounttype" value="user_profile" id="" hidden>
            <input type="email" value="{{user_name.Email}}" name="email" id="" hidden>
            <input id="editpro_btn" type="submit" value="Edit Profile">
        </form>
        <form action="{% url 'changepass' %}" method="post">
            {% csrf_token %}
            <input type="email" value="{{user_name.Email}}" name="email" id="" hidden>
            <input id="editpro_btn" type="submit" value="Change password">
        </form>

        <div id="user_account_info">
            <label>{{user_name.About}}</label>
            {% if user_name.Username %}
            <label>Name &nbsp;&nbsp;&nbsp;:&nbsp; {{user_name.Username | default:'Guest'}}</label>
            {% else %}
            <label>Name &nbsp;&nbsp;&nbsp;:&nbsp; {{user_name.Name | default:'Guest'}}</label>
            {% endif %}
            <label>Email &nbsp;&nbsp; :&nbsp; {{user_name.Email | default:'abc@gmail.com'}}</label><br />
            <label>Number &nbsp;&nbsp;&nbsp;:&nbsp; {{user_name.Number | default:'1234567890'}}</label><br />
            <label>Password : &nbsp; {{user_name.Password | default:'Abc12345@'}}</label><br />
        </div>
        <button id="editpro_btn"><a href="{% url 'logout'%}">Logout</a></button><br /><br />
    </div>
























    


    {% elif admin_user %}
    <div id="Navbar">
        <div id="resp_icon_com_title">
            <div id="admin_manubar_icon_box">
                <div id="admin_manubar_icon_close" onclick="adminmanu_box(1)">
                    <i class="fa-solid fa-bars"></i>
                </div>
                <div id="admin_manubar_icon_open" onclick="adminmanu_box(1)">
                    <i class="fa-solid fa-bars-staggered"></i>
                </div>
            </div>
            <div id="title">
                <form action="{% url 'index'%}" method="post">
                    {% csrf_token %}
                    <input type="email" value="{{admin_user.Email}}" name="email" id="" hidden>
                    <input id="navbartitle_btn" type="submit" value="TRENDGENIX">
                </form>
            </div>
        </div>
        <div id="Admin_deskname">ADMIN DASHBOARD</div>
        <div id="admin_profile_Icon" onclick="pro_info(1)">
            {% if admin_name.Profile %}
            <img src="{{media_url}}{{admin_name.Profile}}" alt="" id="usericon_img" />
            {% else %}
            <img id="usericon"
                src="https://static.vecteezy.com/system/resources/thumbnails/004/607/791/small_2x/man-face-emotive-icon-smiling-male-character-in-blue-shirt-flat-illustration-isolated-on-white-happy-human-psychological-portrait-positive-emotions-user-avatar-for-app-web-design-vector.jpg"
                alt="" />
            {% endif %}
        </div>
    </div>
    <ul id="Admin_Dropdown_navbar">
        <li><a href="{% url 'dashbordindex' %}">Dashboard</a></li>
        <li><a href="{% url 'productdata' %}">Display Data</a></li>
        <li><a href="{% url 'userdata' %}">User Data</a></li>
        <li><a href="{% url 'result' %}">Analysis</a></li>
    </ul>

    <div id="profile_box">
    {% if user_name.Profile %}
        <img id="usericon" onclick="pro_info(1)" src="{{media_url}}{{user_name.Profile}}" alt="Profile Image" />
    {% else %}
        <img id="usericon" onclick="pro_info(1)" src="https://ps.w.org/user-avatar-reloaded/assets/icon-256x256.png?rev=2540745" alt="Default Profile Image" />
    {% endif %}
    <br /><br />

    <form action="{% url 'editpro' %}" method="post">
        {% csrf_token %}
        <input type="text" name="accounttype" value="admin_profile" hidden>
        <input type="email" value="{{admin_user.Email}}" name="email" hidden>
        <input id="editpro_btn" type="submit" value="Edit Profile">
    </form>

    <form action="{% url 'changepass' %}" method="post">
        {% csrf_token %}
        <input type="email" value="{{admin_user.Email}}" name="email" hidden>
        <input id="editpro_btn" type="submit" value="Change password">
    </form>

    <div id="user_account_info">
        {% if admin_user.Username %}
            <label class="text-center">&nbsp;&nbsp;&nbsp;:&nbsp; {{admin_user.Username | default:'Guest'}}</label>
        {% else %}
            <label>Name &nbsp;&nbsp;&nbsp;:&nbsp; {{admin_user.Name | default:'Guest'}}</label>
        {% endif %}
        <label>Email &nbsp;&nbsp; :&nbsp; {{admin_user.Email | default:'abc@gmail.com'}}</label><br />
        <label>Number &nbsp;&nbsp;&nbsp;:&nbsp; {{admin_user.Number | default:'1234567890'}}</label><br />
        <label>Password : &nbsp; {{admin_user.Password | default:'Abc12345@'}}</label><br />
    </div>

    <button id="logout_btn"><a href="{% url 'Adminlogout' %}">Logout</a></button>
</div>























    {% else %}
    <div id="Navbar" class="navbar-inverse">
        <div id="responsive_icon_com_title">
            <div id="manubar_icon_box">
                <div id="manubar_icon_close" onclick="submanu_box(1)">
                    <i class="fa-solid fa-bars"></i>
                </div>
                <div id="manubar_icon_open" onclick="submanu_box(1)">
                    <i class="fa-solid fa-bars-staggered"></i>
                </div>
            </div>
            <div id="title"><a href="{% url 'index'%}">TRENDGENIX</a></div>
        </div>
        <ul id="navbar1">
            <li><a href="{% url 'index'%}">Home</a></li>
            <li><a href="{% url 'about'%}">About Us</a></li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="{% url 'product'%}" role="button"
                    data-bs-toggle="dropdown">Product</a>
                <ul class="dropdown-menu" id="dropdown_manu">
                    <li><a href="{% url 'men'%}">Men</a></li>
                    <li><a href="{% url 'women'%}">Women</a></li>
                    <li><a href="{% url 'girl'%}">Kids</a></li>
                </ul>
            </li>
            <li><a href="{% url 'contact'%}">Contact Us</a></li>
        </ul>
        <ul id="navbar2">
            <li><a href="{% url 'register'%}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="{% url 'login'%}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            <li id="liked_icon_container">
                <div id="add_liked_value">{{addcartno | default:'0'}}</div>
                <a href="{% url 'login'%}"><i class="fa-regular fa-heart"></i></a>
            </li>
            <li id="addcart_icon_container">
                <div id="add_cart_value">{{addcartno | default:'0'}}</div>
                <a href="{% url 'login'%}">
                    <i class="fa-solid fa-cart-shopping"></i>
                </a>
            </li>
            <li id="login_user" onclick="pro_info(1)">
                <img id="usericon"
                    src="https://static.vecteezy.com/system/resources/thumbnails/004/607/791/small_2x/man-face-emotive-icon-smiling-male-character-in-blue-shirt-flat-illustration-isolated-on-white-happy-human-psychological-portrait-positive-emotions-user-avatar-for-app-web-design-vector.jpg"
                    alt="" />
            </li>
        </ul>

    </div>

    <div id="profile_box">
        <img src="https://static.vecteezy.com/system/resources/thumbnails/004/607/791/small_2x/man-face-emotive-icon-smiling-male-character-in-blue-shirt-flat-illustration-isolated-on-white-happy-human-psychological-portrait-positive-emotions-user-avatar-for-app-web-design-vector.jpg"
            alt="" id="prof_image1"><br />
        <h4 style="color: aliceblue;">{{user_name.Name | default:'Guest User'}}</h4>
        <div id="user_account_info">
            <label>Name &nbsp;&nbsp;&nbsp;:&nbsp; {{user_name.Name | default:'Guest user'}}</label><br />
            <label>Email &nbsp;&nbsp; :&nbsp; {{user_name.Email | default:'abc@gmail.com'}}</label><br />
            <label>Number &nbsp;&nbsp;&nbsp;:&nbsp; {{user_name.Number | default:'1234567890'}}</label><br />
            <label>Password : &nbsp; {{user_name.Password | default:'Abc12345@'}}</label><br />
        </div>
        <button id="editpro_btn"><a href="{% url 'login'%}">login</a></button>
    </div>
    {% endif %}

    {% block content%}
    {% endblock %}

    <Footer id="Footer">
        <h2>TRENDGENIX.COM</h2>
        <div id="links_box">
            <ul id="footlink1" style="list-style: none;">
                <li><a href="{% url 'index'%}">Home</a></li>
                <li><a href="{% url 'about'%}">About</a></li>
                <li><a href="{% url 'contact'%}">Contact</a></li>
                <li><a href="{% url 'register'%}">registration</a></li>
                <li><a href="{% url 'login'%}">Login</a></li>
            </ul>
            <ul id="footlink2" style="list-style: none;">
                <li><a href="{% url 'index'%}">Home</a></li>
                <li><a href="{% url 'about'%}">About</a></li>
                <li><a href="{% url 'contact'%}">Contact</a></li>
                <li><a href="{% url 'register'%}">Registration</a></li>
                <li><a href="{% url 'login'%}">Login</a></li>
            </ul>
            <ul id="footlink3" style="list-style: none;">
                <li><a href="{% url 'index'%}">Home</a></li>
                <li><a href="{% url 'about'%}">About</a></li>
                <li><a href="{% url 'contact'%}">Contact</a></li>
                <li><a href="{% url 'register'%}">registration</a></li>
                <li><a href="{% url 'login'%}">Login</a></li>
            </ul>
            <ul id="footlink4" style="list-style: none;">
                <li><a href="{% url 'index'%}">Home</a></li>
                <li><a href="{% url 'about'%}">About</a></li>
                <li><a href="{% url 'contact'%}">Contact</a></li>
                <li><a href="{% url 'register'%}">registration</a></li>
                <li><a href="{% url 'login'%}">Login</a></li>
            </ul>
        </div>
        <div>
            &copy; 2024 TrendGenix All rights reserved | Developed by Indrajeet Yadav
        </div>

    </Footer>
    \










    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script>
        name = "{{key1}}" || "{{key}}"
        if (name) {
            message = "{{key1}}" || "{{key}}"
            window.alert(message)
        }

        let p = 0
        function pro_info(arg) {
            p = p + arg
            if (p === 1) {
                document.getElementById('profile_box').style.display = 'block';
            }
            else if (p === 2) {
                document.getElementById('profile_box').style.display = 'none';
                p = 0
            }
        }

        let N = 0
        function submanu_box(arg) {
            N = N + arg
            if (N === 1) {
                document.getElementById('manubar_icon_close').style.display = 'none';
                document.getElementById('manubar_icon_open').style.display = 'block';
                document.getElementById('navbar1').style.display = 'block';

            }
            else if (N === 2) {
                document.getElementById('manubar_icon_close').style.display = 'block';
                document.getElementById('manubar_icon_open').style.display = 'none';
                document.getElementById('navbar1').style.display = 'none';
                N = 0
            }
        }


        let P = 0
        function adminmanu_box(arg) {
            P = P + arg
            if (P === 1) {
                document.getElementById('admin_manubar_icon_close').style.display = 'none';
                document.getElementById('admin_manubar_icon_open').style.display = 'block';
                document.getElementById('Admin_Dropdown_navbar').style.display = 'flex';

            }
            else if (P === 2) {
                document.getElementById('admin_manubar_icon_close').style.display = 'block';
                document.getElementById('admin_manubar_icon_open').style.display = 'none';
                document.getElementById('Admin_Dropdown_navbar').style.display = 'none';
                P = 0
            }
        }
    </script>
</body>

</html>