{% extends 'base.html' %}
{% block content%}
<div id="changepass_body">

    <div class="row" id="changepass_wrapper">
            <h1>Change Password</h1>
        
        <p class="text-center">Use the form below to change your password. Your password cannot be the same as your
            username.</p>

        <form action="{%  %}" method="post" id="changepassform">
            {% csrf_token %}
            <input type="text" name="name" value="{{user_name}}" id="" hidden disabled>
            <input type="email" name="email" id="" hidden disabled>
            <input type="tel" name="number" id="" hidden disabled>
            <label for="newpassinput">Enter New Password</label><br>
            <input type="password" name="newpassword" id="newpassinput"><br><br />
            <label for="cnewpassinput">Confirm New Password</label><br>
            <input type="password" name="conpassword" id="cnewpassinput"><br><br /><br />
            <input type="submit" value="Change Password" id="changepass_btn">
        </form>

    </div>

</div>

{% endblock %}