{% extends 'base.html' %}

{% block content%}
<div id="admin-container1">
    <div id="admin-container1-div1">
        <h3 id="admin-container1-div1-title">Total Customer</h3>
        <p>10 k</p>
        <div id="ad-div1"></div>
    </div>
    <div id="admin-container1-div1">
        <h3 id="admin-container1-div1-title">Monthly Selling</h3>
        <p>2 cr</p>
        <div id="ad-div2"></div>
    </div>
    <div id="admin-container1-div1">
        <h3 id="admin-container1-div1-title">New Clients</h3>
        <p>10 cr</p>
        <div id="ad-div3"></div>


    </div>
    <div id="admin-container1-div1">
        <h3 id="admin-container1-div1-title">Today Users</h3>
        <p>4 k</p>
        <div id="ad-div4"></div>
    </div>
</div>
<div>
    <table>
        <thead>
            <tr>
                <th>Photo</th>
                <th>Name</th>
                <th>Email</th>
                <th>Contact</th>
                <th>Password</th>
            </tr>
        </thead>
    </table>
</div>

{% endblock %}