{% extends 'base.html' %}
{% load static %}
{% block content%}
<div id="admin-container1">
    <div id="admin-container1-div1">
        <h3 id="admin-container1-div1-title">Total Customer</h3>
        <p>10 k</p>
        <div id="ad-div1"></div>
    </div>
    <div id="admin-container1-div1">
        <h3 id="admin-container1-div1-title">Monthly Selling</h3>
        <p>2 cr</p>
        <div id="ad-div2"></div>
    </div>
    <div id="admin-container1-div1">
        <h3 id="admin-container1-div1-title">New Clients</h3>
        <p>10 cr</p>
        <div id="ad-div3"></div>


    </div>
    <div id="admin-container1-div1">
        <h3 id="admin-container1-div1-title">Today Users</h3>
        <p>4 k</p>
        <div id="ad-div4"></div>
    </div>
</div>

{% if editdata %}
<div id="registration_Dataform_wrapper">
    <div id="registration_Dataform">
        <form action="{% url 'updateeditregistdata' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div style="text-align: center; font-size: 22px; font-weight: 900; margin-bottom: 10px;">Update Form</div>
            <div id="editregist_input">
                <label c for="inputBirthday">Profile</label><br />
                <input type="file" name="profile"  src="">
            </div>
            <div id="editregist_input">
                <label c for="inputBirthday">Name</label><br />
                <input type="text" name="name" value="{{editdata.Name | default:'edit'}}" id="">
            </div>
            <div id="editregist_input">
                <label c for="inputBirthday">Username</label><br />
                <input type="text" name="username" value="{{editdata.Username | default:'edit'}}" id="">
            </div>
            <div id="editregist_input">
                <label c for="inputBirthday">Email</label><br />
                <input type="email" name="email" value="{{editdata.Email | default:'edit'}}" id="">
            </div>
            <div id="editregist_input">
                <label for="inputBirthday">Number</label><br />
                <input type="tel" name="number" value="{{editdata.Number | default:'edit'}}" id="">
            </div>
            <div id="editregist_input">
                <label for="inputBirthday">Address</label><br />
                <textarea name="address" id="">{{editdata.Address | default:'edit'}}</textarea>
            </div>
            <div id="editregist_input">
                <label for="inputBirthday">About</label><br />
                <textarea name="about" id="">{{editdata.About | default:'edit'}}</textarea>
            </div>
            <div id="editregist_input">
                <label  for="inputBirthday">Birthday</label>
                <input  id="birthday_date_input" type="date" name="birthday"
                     value="{{editdata.Birthday }}">
                <div id="birthday_date_box" onclick="change_DOB()">{{ editdata.Birthday | default:'guest' }}</div>
            </div>
            <div id="editregist_input">
                <label c for="inputBirthday">Password</label><br />
                <input type="password" name="password" value="{{editdata.Password | default:'edit'}}" id="">
            </div>
            <input type="submit" id="editregist_submitbtn" value="Update Data">
        </form>

    </div>
</div>



{% else %}
<div id="registration_data">
    <div id="userdatatable_slider">
        <table>
            <thead id="register_data_heading">
                <tr>
                    <th>Profile</th>
                    <th>Name</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>About</th>
                    <th>Address</th>
                    <th>Contact</th>
                    <th>Birthday</th>
                    <th>Password</th>
                    <th>edit/update</th>
                    <th>delete</th>
                </tr>
            </thead>
            <tbody id="register_data_body">
                {% for i in customer %}
                <tr>
                    <td><img style="width:45px; height: 45px; border-radius: 50%;" src="{{media_url}}{{i.Profile}}"
                            alt=""></td>
                    <td style="width:100px;">{{i.Name}}</td>
                    <td style="width:150px;">{{i.Username}}</td>
                    <td style="width:150px;">{{i.Email}}</td>
                    <td style="width:200px;">{{i.About}}</td>
                    <td style="width:200px;">{{i.Address}}</td>
                    <td style="width:150px;">{{i.Number}}</td>
                    <td style="width:150px;">{{i.Birthday}}</td>
                    <td style="width:150px;">{{i.Password}}</td>
                    <td style="width:120px;">
                        <button id="register_editbtn">
                            <a href="{% url 'editregistdata' pk=i.id %}">Edit</a>
                        </button>
                    </td>
                    <td style="width:80px;">
                        <button id="delete_editbtn">
                            <a href="{% url 'deletregistdata' pk=i.id %}">Delete</a>
                        </button>
                    </td>
                    {% endfor %}
                </tr>

            </tbody>
        </table>
    </div>
</div>
{% endif %}
{% endblock %}