{% extends 'base.html' %}

{% block content%}
<div id="dashboard_Body">
    {% if taskobject %}
    {{taskobject.Task}}
    <div id="todoform_box">
        <form action="{% url 'updatedata' %}" method="post">
            {% csrf_token %}
            <div style="text-align: center; font-weight: 600; font-size: 20px;">TODO FORM</div>
            <label for="">Title</label><br />
            <input type="text" name="title" value="{{taskobject.Title}}" id="titlefield" /><br />
            <label for="">Task</label><br />
            <textarea type="text" name="task" id="taskfield">{{taskobject.Task}}</textarea><br />
            <input type="email" name="email" value="{{user_name.Email}}" id="emailfield" hidden />
            <input type="number" name="id" value="{{taskobject.id}}" id="emailfield" hidden />
            <input type="submit" value="update" id="submitbtn" />
        </form>
    </div>
    {% else %}
    <div id="todoform_box">
        <form action="{% url 'todotask' %}" method="post">
            {% csrf_token %}
            <div style="text-align: center; font-weight: 600; font-size: 20px;">TODO FORM</div>
            <label for="">Title</label><br />
            <input type="text" name="title" value="" id="titlefield" /><br />
            <label for="">Task</label><br />
            <textarea type="text" name="task" value="" id="taskfield"></textarea><br />
            <input type="email" name="email" value="{{user_name.Email}}" id="emailfield" hidden />
            <input type="password" name="password" value="{{user_name.Password}}" id="passfield" hidden /><br />
            <input type="submit" value="Submit" id="submitbtn" />
        </form>
    </div>
    {% endif %}


    <div id="showdata_container">


        <div id="showdata_btn">
            <form action="{% url 'showdata2' %}" method="post">
                {% csrf_token %}
                <input type="email" name="email" value="{{user_name.Email}}" id="emailfield" hidden />
                <input type="submit" value="Submit" id="submitbtn" />
            </form>
        </div>


        <table id="show_table">
            <thead id="datatable_head">
                <tr>
                    <th>S.No</th>
                    <th>Data</th>
                    <th>Title</th>
                    <th>Task</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody id="datatable_body">
                {% for i in tododate %}
                <tr>
                    <td>{{i.id}}</td>
                    <td>{{i.Date}}</td>
                    <td>{{i.Title}}</td>
                    <td>{{i.Task}}</td>
                    <td><a href="{% url 'edittodo' pk=i.id %}"><i class="fa-solid fa-file-pen"></i></a></td>
                    <td><a href="{% url 'delettodo' pk=i.id %}"><i class="fa-solid fa-trash"></i></a></td>
                </tr>
                {% endfor %}
            </tbody>



        </table>



    </div>
</div>

<h1>This is Home page</h1>
{% endblock %}