{% extends 'base.html' %}

{% block content%}
{{prop.data.Prod_Offer}}
<main>
    <section class="products">
        <article class="product">
            <img src="https://images.meesho.com/images/products/371954549/fedrs_512.webp" alt="Product 1">
            <h2>{{prod_name | default:'Product Name'}} </h2>
            <p class="price">₹{{prod_price | default:'40'}}</p>
            <p class="description">{{prod_detail | default:'A short description of the product'}}</p>
            <button>Add to Cart</button>
        </article>
        <article class="product">
            <img src="https://images.meesho.com/images/products/269763/1_512.webp" alt="Product 1">
            <h2>{{prod_name | default:'Product Name'}} </h2>
            <p class="price">₹{{prod_price | default:'40'}}</p>
            <p class="description">{{prod_detail | default:'A short description of the product'}}</p>
            <button>Add to Cart</button>
        </article>
        <article class="product">
            <img src="https://images.meesho.com/images/products/43257485/o1spu_512.webp" alt="Product 1">
            <h2>{{prod_name | default:'Product Name'}} </h2>
            <p class="price">₹{{prod_price | default:'40'}}</p>
            <p class="description">{{prod_detail | default:'A short description of the product'}}</p>
            <button>Add to Cart</button>
        </article>
        <article class="product">
            <img src="https://images.meesho.com/images/products/415584710/wlqqd_512.webp" alt="Product 1">
            <h2>{{prod_name | default:'Product Name'}} </h2>
            <p class="price">₹{{prod_price | default:'40'}}</p>
            <p class="description">{{prod_detail | default:'A short description of the product'}}</p>
            <button>Add to Cart</button>
        </article>
        <article class="product">
            <img src="https://images.meesho.com/images/products/369378592/ix2d7_512.webp" alt="Product 1">
            <h2>{{prod_name | default:'Product Name'}} </h2>
            <p class="price">₹{{prod_price | default:'40'}}</p>
            <p class="description">{{prod_detail | default:'A short description of the product'}}</p>
            <button>Add to Cart</button>
        </article>
        <article class="product">
            <img src="https://images.meesho.com/images/products/13642084/mwcfp_512.webp" alt="Product 1">
            <h2>{{prod_name | default:'Product Name'}} </h2>
            <p class="price">₹{{prod_price | default:'40'}}</p>
            <p class="description">{{prod_detail | default:'A short description of the product'}}</p>
            <button>Add to Cart</button>
        </article>
        <article class="product">
            <img src="https://images.meesho.com/images/products/415078838/ixtgj_512.webp" alt="Product 1">
            <h2>{{prod_name | default:'Product Name'}} </h2>
            <p class="price">₹{{prod_price | default:'40'}}</p>
            <p class="description">{{prod_detail | default:'A short description of the product'}}</p>
            <button>Add to Cart</button>
        </article>
        <article class="product">
            <img src="https://images.meesho.com/images/products/394913278/nfego_512.webp" alt="Product 1">
            <h2>{{prod_name | default:'Product Name'}} </h2>
            <p class="price">₹{{prod_price | default:'40'}}</p>
            <p class="description">{{prod_detail | default:'A short description of the product'}}</p>
            <button>Add to Cart</button>
        </article>
    </section>
</main>
{% endblock %}