{% extends 'base.html' %}

{% block content%}

<!-- ------------- Pyment Model CRUD ----------------------------------- -->
<div id="payment_transition_container">
    <h1>Order Creating Data</h1>
    <table style="width: 100%;">
        <thead id="paydata_hearder">
            <tr >
                <th>Email</th>
                <th>Amount</th>
                <th>Amount_paid</th>
                <th>Amount_due</th>
                <th>Quantity</th>
                <th>Currency</th>
                <th>Receipt</th>
                <th>Attempts</th>
                <th>Notes</th>
                <th>Created_at</th>
                <th>Payment_Id</th>
                <th>Order_id</th>
                <th>Signature</th>
                <th>Datetime</th>
                <th>Status</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody id="paydata_body">
            {% for i in Paymentdata %} 
            <tr>
                <td>{{i.Email}}</td>
                <td>{{i.Amount}}</td>
                <td>{{i.Amount_paid}}</td>
                <td>{{i.Amount_due}}</td>
                <td>{{i.Prod_Quantity}}</td>
                <td>{{i.Currency}}</td>
                <td>{{i.Receipt}}</td>
                <td>{{i.Attempts}}</td>
                <td>{{i.Notes}}</td>
                <td>{{i.Created_at}}</td>
                <td>{{i.Payment_Id | truncatechars:10}}</td>
                <td>{{i.Order_id}}</td>
                <td >{{i.Signature | truncatechars:10}}</td>
                <td>{{i.Datetime}}</td>
                <td>{{i.Status}}</td>
                <td style="width: 80px;"><a href="#" >Edit</a></td>
                <td style="width: 100px;"><a href="{% url 'deletoder' pk=i.id%}">Delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<!-- ------------- Invoice Model CRUD ----------------------------------- -->


<div id="payment_transition_container">
    <h1>Invoice Status Data</h1>
    <table style="width: 100%;">
        <thead id="paydata_hearder">
            <tr >
                <th>Invoice_id</th>
                <th>Customer_id</th>
                <th>Customer_Name</th>
                <th>Customer_Email</th>
                <th>Order_id</th>
                <th>Amount</th>
                <th>Shipping_address</th>
                <th>Billingtime</th>
                <th>Status</th>
                <th>Product Details</th>
                <th>View Invoice</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody id="paydata_body">
            {% for i in all_invoice %} 
            <tr>
                <td>{{i.Invoice_id}}</td>
                <td>{{i.Customer_id}}</td>
                <td>{{admin_user.Name}}</td>
                <td>{{admin_user.Email}}</td>
                <td>{{i.Order_id}}</td>
                <td>{{i.Amount}}</td>
                <td>{{i.Shipping_address}}</td>
                <td>{{i.Billingtime}}</td>
                <td>{{i.Status}}</td>
                <td><a href="#">View product detail</a></td>
                <td><a href="{% url 'invoiceview' pk=i.Invoice_id  %}">View Invoice</a></td>
                <td><a href="#">Edit</a></td>
                <td><a href="{% url 'deletpay' pk=i.id%}">Delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


<!-- ------------- Purchase product CRUD ----------------------------------- -->

<div id="payment_transition_container">
    <h1>Purchase Product List</h1>
    <table style="width: 100%;">
        <thead id="paydata_hearder">
            <tr >
                <th>Product_Type</th>
                <th>Image_1</th>
                <th>Image_2</th>
                <th>Image_3</th>
                <th>Image_4</th>
                <th>Prod_MRP</th>
                <th>Price</th>
                <th>Prod_Offer</th>
                <th>Prod_Detail</th>
                <th>prod_color</th>
                <th>Serial_no </th>
                <th>Purchase_date </th>
                <th>Order_id </th>
                <th>Email_id </th>
                <th>Edit</th>
                <th>Delete</th>
                <th>view</th>
            </tr>
        </thead>
        <tbody id="paydata_body">
            {% for i in purchase_data %} 
            <tr>
                <td>{{i.Product_Type}}</td>
                <td><img src="{{media_url}}{{i.Prod_Image1}}" style="width: 100px; height: 100px;" alt=""></td>
                <td><img src="{{media_url}}{{i.Prod_Image2}}" style="width: 100px; height: 100px;" alt=""></td>
                <td><img src="{{media_url}}{{i.Prod_Image3}}" style="width: 100px; height: 100px;" alt=""></td>
                <td><img src="{{media_url}}{{i.Prod_Image4}}" style="width: 100px; height: 100px;" alt=""></td>
                <td>{{i.Prod_MRP}}</td>
                <td>{{i.Prod_Price}}</td>
                <td>{{i.Prod_Offer}}</td>
                <td>{{i.Prod_Detail | truncatewords:5 }}</td>
                <td>{{i.prod_color}}</td>
                <td>{{i.Serial_no}}</td>
                <td>{{i.Purchase_date}}</td>
                <td>{{i.Order_id}}</td>
                <td>{{i.Email_id}}</td>
                <td><a href="#">Edit</a></td>
                <td><a href="{% url 'deletpurch_prod' pk=i.id%}">Delete</a></td>
                <td><a href="#">views</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>




{% endblock %}