{% extends 'base.html' %}

{% block content%}
<main>
    <section class="products">
        {% for i in prop %}
        <article class="product" id="product_container">
            <img src="{{media_url}}{{i.Prod_Image1}}" alt="Product 1" id="Product_image">
            <h2>{{i.Prod_Name | default:'Product Name'}} </h2>
            <p class="price">₹{{i.Prod_Price | default:'40'}}/-</p>
            <p class="description">{{i.Prod_Detail | truncatewords:15}}</p>
            <a href="#" id="likebtn{{i.id}}" class="heart_likeproduct" onclick="likedproduct(i.id)"><i
                    class="fa-regular fa-heart"></i></a>
            <button id="prod_model_btn">
                <form action="{% url 'addtocart' pk=i.id %}" method="post">
                    {% csrf_token %}
                    <input type="email" name="email" value="{{user_name.Email}}" hidden id="">
                    <input type="text" name="prod_name" value="{{i.Prod_Name}}" hidden id="">
                    <input type="submit" value="Add to Cart">
                </form>
            </button>
        </article>
        {% endfor %}

        

    </section>
</main>
{% endblock %}